<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: header"></head>

<body>

<div>      <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <script th:src="@{/js/authentication.js}"></script>
</div>


<form th:action="@{/sso/registration}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
</form>

<div class="container">

    <div class="form-signin">
        <h3 class="form-signin-heading" th:text="Welcome"></h3>
        <br/>
        <input type="text" id="email" th:placeholder="Email"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" class="form-control"/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>

        <button class="btn btn-lg btn-primary btn-block" id="js-authorize-user"
                th:text="Login"></button>
    </div>
</div>
</body>
</html>