<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: header"></head>

<body>

<nav th:replace="fragments/header-component :: header-component"></nav>

<div> <!--head continue-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/board.css}"/>
    <script th:src="@{/js/board.js}"></script>
</div>

<div class="background">
    <div class="container">

        <div class="board-background">
            <div class="board-wrapper">
                <div class="board-columns">

                    <div class="board-column">

                        <div class="board-column-issue" th:class="${'issue-id_' + issueId}">

                            <div class="issue-name" th:text="${}"></div>

                            <div class="issue-description">

                                <div class="description" th:text="${}"></div>

                                <div class="js-detailed-description-tooltip" th:text="${}" th:if="size > 150">...</div>

                                <div class="detailed-description-tooltip hidden" th:text="${}" th:if="size > 150"
                                     th:class="${'issue-id_' + issueId}"></div>

                            </div>
                            <div class="assignee-container">

                                <div class="assignee-avatar"></div>

                                <div class="assignee-hidden-container">
                                    <div class="assignee-avatar"></div>
                                    <a th:href="@{/users/user/${assignee.username}}">
                                        <div class="assignee-name"></div>
                                    </a>
                                </div>
                            </div>

                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>