<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: header"></head>

<body>

<nav th:replace="fragments/header-component :: header-component"></nav>

<div> <!--head continue-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/board.css}"/>
    <script th:src="@{/js/board.js}"></script>
</div>

<div class="background">
    <div class="container-fluid">

        <div class="board-background">
            <div class="board-wrapper">
                <div class="board-columns container-fluid row">

                    <div class="board-column-wrapper  col-2">

                        <div class="board-col-name">Lul</div> <!-- th:text="${}"-->

                        <div class="board-column">


                            <div class="board-column-issue">  <!-- th:class="${'issue-id_' + issueId}"--> <!-- background according to issue type-->

                                <div class="issue-name"></div>  <!-- th:text="${}"-->

                                <div class="issue-description">

                                    <div class="description"></div>  <!-- th:text="${}"-->

                                    <div class="js-detailed-description-tooltip description-tooltip-dots">...</div>
                                    <!--th:text="${}" th:if="size > 150"-->

                                    <div class="detailed-description-tooltip hidden"></div>  <!--th:text="${}" th:if="size > 150"
                                th:class="${'issue-id_' + issueId}"-->

                                </div>
                                <div class="assignee-container">

                                    <div class="assignee-avatar"></div>

                                    <div class="assignee-hidden-container hidden">
                                        <div class="assignee-avatar"></div>
                                        <!--  <a th:href="@{/users/user/${assignee.username}}">-->
                                        <div class="assignee-name"></div> <!--th:text="${assignee.fullName}"-->
                                        </a>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>


                    <!--   asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf-->


                    <div class="board-column col-2">

                        <div class="board-column-issue">  <!-- th:class="${'issue-id_' + issueId}"-->

                            <div class="issue-name"></div>  <!-- th:text="${}"-->

                            <div class="issue-description">

                                <div class="description"></div>  <!-- th:text="${}"-->

                                <div class="js-detailed-description-tooltip description-tooltip-dots">...</div>
                                <!--th:text="${}" th:if="size > 150"-->

                                <div class="detailed-description-tooltip hidden"></div>  <!--th:text="${}" th:if="size > 150"
                                th:class="${'issue-id_' + issueId}"-->

                            </div>
                            <div class="assignee-container">

                                <div class="assignee-avatar"></div>

                                <div class="assignee-hidden-container hidden">
                                    <div class="assignee-avatar"></div>
                                    <!--  <a th:href="@{/users/user/${assignee.username}}">-->
                                    <div class="assignee-name"></div> <!--th:text="${assignee.fullName}"-->
                                    </a>
                                </div>
                            </div>

                        </div>


                    </div>
                    <!--   asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf-->


                    <!--   asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf-->


                    <div class="board-column col-2">

                        <div class="board-column-issue">  <!-- th:class="${'issue-id_' + issueId}"-->

                            <div class="issue-name"></div>  <!-- th:text="${}"-->

                            <div class="issue-description">

                                <div class="description"></div>  <!-- th:text="${}"-->

                                <div class="js-detailed-description-tooltip description-tooltip-dots">...</div>
                                <!--th:text="${}" th:if="size > 150"-->

                                <div class="detailed-description-tooltip hidden"></div>  <!--th:text="${}" th:if="size > 150"
                                th:class="${'issue-id_' + issueId}"-->

                            </div>
                            <div class="assignee-container">

                                <div class="assignee-avatar"></div>

                                <div class="assignee-hidden-container hidden">
                                    <div class="assignee-avatar"></div>
                                    <!--  <a th:href="@{/users/user/${assignee.username}}">-->
                                    <div class="assignee-name"></div> <!--th:text="${assignee.fullName}"-->
                                    </a>
                                </div>
                            </div>

                        </div>


                    </div>
                    <!--   asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf-->

                    <!--   asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf-->


                    <div class="board-column col-2">

                        <div class="board-column-issue">  <!-- th:class="${'issue-id_' + issueId}"-->

                            <div class="issue-name"></div>  <!-- th:text="${}"-->

                            <div class="issue-description">

                                <div class="description"></div>  <!-- th:text="${}"-->

                                <div class="js-detailed-description-tooltip description-tooltip-dots">...</div>
                                <!--th:text="${}" th:if="size > 150"-->

                                <div class="detailed-description-tooltip hidden"></div>  <!--th:text="${}" th:if="size > 150"
                                th:class="${'issue-id_' + issueId}"-->

                            </div>
                            <div class="assignee-container">

                                <div class="assignee-avatar"></div>

                                <div class="assignee-hidden-container hidden">
                                    <div class="assignee-avatar"></div>
                                    <!--  <a th:href="@{/users/user/${assignee.username}}">-->
                                    <div class="assignee-name"></div> <!--th:text="${assignee.fullName}"-->
                                    </a>
                                </div>
                            </div>

                        </div>


                    </div>
                    <!--   asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf-->

                    <!--   asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf-->


                    <div class="board-column col-2">

                        <div class="board-column-issue">  <!-- th:class="${'issue-id_' + issueId}"-->

                            <div class="issue-name"></div>  <!-- th:text="${}"-->

                            <div class="issue-description">

                                <div class="description"></div>  <!-- th:text="${}"-->

                                <div class="js-detailed-description-tooltip description-tooltip-dots">...</div>
                                <!--th:text="${}" th:if="size > 150"-->

                                <div class="detailed-description-tooltip hidden"></div>  <!--th:text="${}" th:if="size > 150"
                                th:class="${'issue-id_' + issueId}"-->

                            </div>
                            <div class="assignee-container">

                                <div class="assignee-avatar"></div>

                                <div class="assignee-hidden-container hidden">
                                    <div class="assignee-avatar"></div>
                                    <!--  <a th:href="@{/users/user/${assignee.username}}">-->
                                    <div class="assignee-name"></div> <!--th:text="${assignee.fullName}"-->
                                    </a>
                                </div>
                            </div>

                        </div>


                    </div>
                    <!--   asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf-->

                    <!--   asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf-->


                    <div class="board-column col col-2">

                        <div class="board-column-issue">  <!-- th:class="${'issue-id_' + issueId}"-->

                            <div class="issue-name"></div>  <!-- th:text="${}"-->

                            <div class="issue-description">

                                <div class="description"></div>  <!-- th:text="${}"-->

                                <div class="js-detailed-description-tooltip description-tooltip-dots">...</div>
                                <!--th:text="${}" th:if="size > 150"-->

                                <div class="detailed-description-tooltip hidden"></div>  <!--th:text="${}" th:if="size > 150"
                                th:class="${'issue-id_' + issueId}"-->

                            </div>
                            <div class="assignee-container">

                                <div class="assignee-avatar"></div>

                                <div class="assignee-hidden-container hidden">
                                    <div class="assignee-avatar"></div>
                                    <!--  <a th:href="@{/users/user/${assignee.username}}">-->
                                    <div class="assignee-name"></div> <!--th:text="${assignee.fullName}"-->
                                    </a>
                                </div>
                            </div>

                        </div>


                    </div>
                    <!--   asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf-->


                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>