<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: header"></head>

<body>

<nav th:replace="fragments/header-component :: header-component"></nav>

<div> <!--head continue-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/userprofile.css}"/>
    <script th:src="@{/js/userprofile.js}"></script>
</div>

<div class="background">
    <div class="container">

        <div class="user-profile-background">
            <div class="user-profile-wrapper">

            </div>
        </div>
    </div>
</div>

</body>
</html>