<nav class="navbar navbar-expand-lg navbar-light bg-green" th:fragment="header-component">
    <a class="navbar-brand" href="#">KanbanWWH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div style="display: none">
        <script th:src="@{/js/header.js}"></script>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Boards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li>
                <button type="button" class="btn btn-primary js-create-issue-header form-control">Create</button>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>


        <li class="nav-item">
            <!-- todo maybe avatar-->
            <a class="nav-link" th:href="@{/users/} + ${@projectUser.getUserData().getUsername()}" th:text="${@projectUser.getUserData().getFullName()}"></a>


        </li>


    </div>
</nav>