.board-background {

}

.board-wrapper {
    margin-top: 10px;
}

.board-columns {

}

.board-column-wrapper {
    border: 4px solid red;
    /*   border: 10px solid transparent; */
    float: left;
    padding: 5px;
}

.board-col-name {

}

.board-column {
    border: 2px solid blueviolet;
    padding: 10px;
}

.board-column-issue {

}

.issue-name {
    display: inline;
}

.issue-key {
    display: inline;
}

.issue-full-name-container {
    font-weight: bold;
}

.issue-description {

}

.description {
    display: inline;

}

.description-tooltip-dots {
    display: inline;
}

.description-tooltip {

}

.assignee-container {

}

.assignee-avatar {
    background: url("https://st.depositphotos.com/1008939/1880/i/450/depositphotos_18807295-stock-photo-portrait-of-handsome-man.jpg");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.assignee-container {
    text-align: right;
    border: 1px solid lightgrey;
    margin: 10px;
    padding: 5px;
}

.assignee-avatar {
    display: inline-block;
}

.assignee-full-name {
    display: inline;
    font-weight: bold;
}

.issue-divider {
    display: inline;
}

.issue-divider::before {
    content: "//";
}

.bg-issue-blue {
    background-color: lightskyblue;
}

.bg-issue-red {
    background-color: indianred;
}

.bg-issue-green {
    background-color: darkseagreen;
}

.bg-issue-white {
    background-color: white;
}

.bg-issue-purple {
    background-color: mediumpurple;
}
















