.board-background {

}

.board-wrapper {
    margin-top: 10px;
}

.board-columns {

}

.board-column-wrapper {
    border: 4px solid red;
    /*   border: 10px solid transparent; */
    float: left;
    padding: 5px;
}

.board-col-name {

}

.board-column {

}

.board-column-issue {

}

.issue-name {

}

.issue-description {

}

.description {

}

.description-tooltip-dots {

}

.description-tooltip {

}

.assignee-container {

}

.assignee-avatar {

}

.assignee-hidden-container {

}

.assignee-avatar {

}

.assignee-name {

}

. {

}

. {

}




























