.issue-people-and-dates {

}

.issue-people {

}

.issue-dates {

}

.issue-details {

}

.issue-description {

}

.issue-attachments {

}

.issue-comments {

}

.issue-history {

}

.issue-button {
    margin: 10px;
    float: left;
}

.toolbar-buttons-issue {
    padding: 10px;
}

.date-row {
    float: left;
}

.assignee {
    padding: 5px;
}

.reporter-entry {
    padding: 5px;
}

.user-name {

}

.change-assignee {
    color: blue;
    font-style: italic;
    text-decoration: underline;
}

.become-reporter {
    margin: 10px;
    color: blue;
    font-style: italic;
    text-decoration: underline;
}

.issue-details-left {
    float: left;
}

._issue-detail {

}

._detail {
    float: left;
}

.attachment-entry {
    color: lightseagreen;
    font-style: italic;
    text-decoration: underline;
    border: 1px solid black;
    margin:  0px 5px;
}

._attachment {
    float: left;
}

.top-wrapper {
   padding-top: 15px;
}

.issue-sub-title {
    padding-top: 15px;
}

.action-author {

}
.action-date {

}

.issue-action-entry {
    padding: 10px;
    background-color: #eeeeee;
    margin: 5px 0px;
}

.action-text-wrapper {
    padding: 5px 5px;
    border: 1px solid #dee2e6;

}

._action-header {
    font-weight: bold;
}