<!-- Change assignee -->
<div class="modal fade js-change-assignee-popup" id="changeAssignee" tabindex="-1" role="dialog"
     aria-labelledby="changeAssigneeTitle" aria-hidden="true" th:fragment="change-assignee-component">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change assignee to:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="dropdown-search-wrapper">
                    <div class="dropdown">
                        <div id="searchDropdown" class="dropdown-content show">
                            <input type="text" placeholder="Search.." id="searchInput">
                            <span class="assignee-search-container hidden"></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-lg js-assignee-save">Save</button>
            </div>
        </div>
    </div>
</div>