<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: header"></head>

<body>

<nav th:replace="fragments/header-component :: header-component"></nav>
<div th:replace="/issues/change-assignee-popup :: change-assignee-component"></div>

<div> <!--head continue-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/createissue.css}"/>
    <script th:src="@{/js/createissue.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/changeassignee.css}"/>
    <script th:src="@{/js/changeassignee.js}"></script>
</div>

<div class="background">
    <div class="container">
        <div class="form-create-issue  border-grey">
            <div class="row form-create-issue-head d-flex justify-content-center">
                <div class="head-message"><h1>Create Issue</h1></div>
            </div>

            <div class="form-create-issue-body">
                <div class="form-group row">
                    <label for="project-select" class="col-sm-2 col-form-label required-field">Project</label>
                    <div class="col-sm-10">
                        <select class="form-control js-project-select" id="project-select">
                            <option class="js-project-select-option" th:each="project : ${projects}"
                                    th:value="${project.id}"
                                    th:selected="${projectId == project.id}"
                                    th:text="${'[' + project.abbreviation + ']' + ' - ' + project.name}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group row">
                    <label for="issueName" class="col-sm-2 col-form-label required-field">Issue Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control js-issue-name" id="issueName"
                               placeholder="Specify Issue Name">
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required-field" for="issue-types">Issue Type</label>
                    <div class="col-sm-10">
                        <select class="form-control js-type-select" id="issue-types">
                            <option class="js-type-select-option" th:each="type : ${types}" th:value="${type}"
                                    th:selected="${type == 'BUG'}" th:text="${type}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required-field" for="issue-priorities">Issue Priority</label>
                    <div class="col-sm-10">
                        <select class="form-control js-priority-select" id="issue-priorities">
                            <option class="js-priority-select" th:each="priority : ${priorities}" th:value="${priority}"
                                    th:selected="${priority == 'NORMAL'}" th:text="${priority}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="issue-tags">Tags</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control js-tags" id="issue-tags"
                               placeholder="Tags divided by coma">
                    </div>
                </div>
            </div>


            <div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="description">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control js-description" id="description" rows="4"></textarea>
                    </div>
                </div>
            </div>


            <div>
                <div class="form-group row">
                    <label for="changeAssignee" class="col-sm-2 col-form-label">Assignee</label>
                    <div class="col-sm-4">
                        <input disabled type="text" class="form-control js-assignee-name" id="changeAssignee"
                               placeholder="Default: Automatic">
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-secondary js-change-assignee-button form-control">Change
                        </button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>


            <div>
                Attachments


                js-attachments js-attachment
            </div>


            <div>
                Due date

                js-due-date js-due-date-input
            </div>


            <div>
                Parent Issue

                js-parent-issue
            </div>


            <div class="row">
                <div class="col-sm-5">
                </div>

                <div class="content-justify-center col-sm-2">
                    <button type="button" class="btn btn-secondary js-create-issue-button form-control">Create</button>
                </div>

                <div class="col-sm-5">
                </div>
            </div>

            <div class="row">
                <div class="content-justify-center col-sm-12 hidden js-error-message-container">
                    <div>
                        <p class="js-error-message"></p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>

</body>
</html>