<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: header"></head>

<body>

<nav th:replace="fragments/header-component :: header-component"></nav>
<div th:replace="/issues/change-assignee-popup :: change-assignee-component"></div>

<div> <!--head continue-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/issue.css}"/>
    <script th:src="@{/js/issue.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/changeassignee.css}"/>
    <script th:src="@{/js/changeassignee.js}"></script>
</div>


<div class="container">
    <div class="row ">
    </div>
</div>


<div class="background">
    <div class="container border-grey">


        <div class="row">
            <div class="col-lg-12">
                <div class="border-grey-bottom">
                    <div class="hierarchy-of-issues text-primary font-weight-bold">
                        <a th:href="@{/projects/project/} + ${issue.project.abbr}"><span class="proj-abbr"
                                                                                 th:text="${issue.project.abbr}"></span></a>
                        <span> / </span>
                        <a th:href="@{/issues/issue/} + ${issue.parentIssue.issueKey}"  th:if="${issue.parentIssue != null}">
                            <span href="" class="issue-link" th:text="${issue.parentIssue.issueKey}"></span>
                        </a>
                        <span th:if="${issue.parentIssue != null}"> / </span>
                        <a th:href="@{/issues/issue/} + ${issue.issueKey}">
                        <span href="" class="issue-link js-issue-key" th:text="${issue.issueKey}"></span>
                        </a>
                        <span> / </span>
                        <span href="" class="issue-name" th:text="${issue.name}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div>
                    <div class="toolbar-buttons-issue">
                        <div class="issue-button">
                            <button type="button"  class="edit-issue-button btn btn-secondary js-edit-button">Edit</button>
                        </div>
                        <div class="issue-button">
                            <button type="button" class="comment-issue-button btn btn-secondary js-comment-button">Comment</button>
                        </div>
                        <div class="issue-button">
                            <button type="button" class="assign-issue-button btn btn-secondary js-assign-button">Assign</button>
                        </div>
                        <div class="issue-button">
                            <button type="button" class="move-issue-button btn btn-secondary js-move-button">Move</button>
                        </div>
                        <div class="issue-button">
                            <button type="button" class="change-issue-status-button btn btn-secondary js-change-status-button">Change status</button>
                        </div>
                        <div class="issue-button">
                            <button type="button" class="change-issue-status-button btn btn-secondary js-attach-button">Attach</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row border-grey-top">
            <div class="col-lg-4">
                <div class="issue-people-and-dates">
                    <div class="issue-people">
                        <h5>People</h5>
                        <div class="people-subtitle">Assignee:</div>
                        <div class="assignee row">
                            <div class="profile-img col-md-1"></div>
                            <div class="user-name col-md-6" th:text="${issue.assignee.fullName}"></div>
                            <div class="change-assignee js-change-assignee col-md-3">change</div>
                        </div>
                        <div class="people-subtitle">Reporters:</div>

                        <!--  reporters start-->

                        <div class="reporter-entry"  th:each="reporter : ${issue.reporters}">
                            <div class="reporter-entity row">
                                <div class="profile-img col-md-1"></div>
                                <div class="user-name   col-md-8" th:text="${reporter.fullName}"></div>
                            </div>
                        </div>

                        <div class="become-reporter js-become-reporter" href="#">become reporter</div>

                        <!--  reporters end-->

                    </div>
                    <div class="issue-dates">
                        <h5>Dates</h5>
                        <div class="created-date">
                            <div class="col-md-5 date-row">Created:</div>
                            <div class="col-md-7 date-row" th:text="${issue.createdDate}"></div>
                        </div>
                        <div class="updated-date">
                            <div class="col-md-5 date-row">Updated:</div>
                            <div class="col-md-7 date-row" th:text="${issue.updatedDate}"></div>
                        </div>
                        <div class="due-date">
                            <div class="col-md-5 date-row">Due date:</div>
                            <div class="col-md-7 date-row" th:text="${issue.dueDate}"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-8 border-grey-left">
                <div class="issue-details">
                    <div class="issue-sub-title"><h5>Issue details</h5></div>
                    <div class="issue-details-content">
                        <div class="col-md-6 issue-details-left">
                            <div class="_issue-detail issue-type">
                                <div class="_detail issue-type-title    col-md-6">Type:</div>
                                <div class="_detail issue-type-content  col-md-6" th:class="${issue.issueType.issueViewClass}" th:text="${issue.issueType.displayName}"></div>
                            </div>
                            <div class="_issue-detail issue-priority">
                                <div class="_detail issue-priority-title    col-md-6">Priority:</div>
                                <div class="_detail issue-priority-content  col-md-6" th:class="${issue.issuePriority.issueViewClass}" th:text="${issue.issuePriority.displayName}"></div>
                            </div>
                            <!--   <div class="_issue-detail issue-tags" th:if="">
                                   <div class="_detail issue-tags-title    col-md-6">Tags:</div>
                                   <div class="_detail issue-tags-content  col-md-6" th:text="${issuePriority}">Lul, lylyl</div>
                               </div>-->
                        </div>
                        <div class="col-md-6 issue-details-left">
                            <div class="_issue-detail issue-status">
                                <div class="_detail issue-status-title      col-md-6">Status:</div>
                                <div class="_detail issue-status-content    col-md-6" th:class="${issue.issueStatus.issueViewClass}" th:text="${issue.issueStatus.displayName}"></div>
                            </div>
                            <div class="_issue-detail issue-resolution">
                                <div class="_detail issue-resolution-title      col-md-6">Resolution:</div>
                                <div class="_detail issue-resolution-content    col-md-6">Unresolved</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8 border-grey-left border-grey-top">
                <div class="issue-sub-title"><h5>Description</h5></div>
                <div class="issue-description-content">
                    <p th:text="${issue.description}"></p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8 border-grey-left border-grey-top ">
                <div class="issue-sub-title"><h5>Attachments</h5></div>
                <div class="issue-attachments-content">

                    <div class="attachment-entry row">
                        <div class="_attachment attachment-name col-md-9">file_123214.pdf</div>
                        <div class="_attachment attachment-size col-md-3">35676 kb</div>
                    </div>

                    <div class="attachment-entry row">
                        <div class="_attachment attachment-name col-md-9">file_123214.pdf</div>
                        <div class="_attachment attachment-size col-md-3">35676 kb</div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8 border-grey-left">

                <div class="tabs-pills top-wrapper">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="js-comments-tab nav-link active">Comments</a>
                        </li>
                        <li class="nav-item">
                            <a class="js-history-tab nav-link">History</a>
                        </li>
                    </ul>
                </div>


                <div class="issue-comments-tab-content">

                    <div class="issue-action-entry">
                        <div class="action-header">
                            <div class="_action-header action-author float-left">Kyrylo Lyllyl</div>
                            <div class="_action-header action-date  float-right">23.05.2018 11:34</div>
                            <br>
                        </div>
                        <div class="action-text-wrapper float-none">
                            <div class="action-text">
                                asdsadasdas asdsadasdas asdsadasdas asdsadasdassdsadasdas asdsadasdas
                                asdsadasdassdsadasdas
                                asdsadasdas asdsadasdas
                            </div>
                        </div>
                    </div>

                    <div class="issue-action-entry">
                        <div class="action-header">
                            <div class="_action-header action-author float-left">Kyrylo Lyllyl</div>
                            <div class="_action-header action-date  float-right">23.05.2018 11:34</div>
                            <br>
                        </div>
                        <div class="action-text-wrapper float-none border">
                            <div class="action-text">
                                asdsadasdas asdsadasdas asdsadasdas asdsadasdassdsadasdas asdsadasdas
                                asdsadasdassdsadasdas
                                asdsadasdas asdsadasdas
                            </div>
                        </div>
                    </div>

                </div>

                <div class="issue-history-tab-content js-history-tab-content hidden">


                </div>


            </div>
        </div>


    </div>
</div>

</body>
</html>